@model List<Urlaub>

<h1>@Model.Count</h1>

@*if (ThreeMonthModel != null && ThreeMonthModel.Any())
    // 1 based index
    //DateTime GetMonth(int month) => new DateTime(Model.StartDate.AddMonths(month - 1).Year, Model.StartDate.AddMonths(month - 1).Month, 1);
    //int GetMaxDays(int month) => DateTime.DaysInMonth(GetMonth(month).Year, GetMonth(month).Month);
}*@


@*<div>
    <table>
        <thead>
            <tr>
                <td></td>
                @for (int m = 1; m <= 3; m++)
                {
                    DateTime month = GetMonth(m);
                    <td class="cal-month month-border" colspan="@GetMaxDays(m)">@month.ToString("MMMM") @month.ToString("yy")</td>
                }
            </tr>
            <tr>
                <td></td>
                @for (int m = 1; m <= 3; m++)
                {
                    DateTime month = GetMonth(m);
                    @for (var i = 1; i <= GetMaxDays(m); i++)
                    {
                        DateTime day = month.AddDays(i - 1);
                        <td class="@Model.CssWeekend(day.DayOfWeek) @Model.CssMonthBorder(i)">@i<br />@(day.ToString("ddd"))</td>                        
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Urlaub e in Model)
            {
                <tr class="emp-row">
                    <td class="emp-col">@e.Name</td>

                    @for (int m = 1; m <= 3; m++)
                    {
                        DateTime month = GetMonth(m);
                        @for (var i = 1; i <= GetMaxDays(m); i++)
                        {
                            DateTime day = month.AddDays(i - 1);
                            eLeaveType? leaveType = e.Leaves.FirstOrDefault(l => l.Day.Date == day.Date)?.LeaveType;
                            <td class="emp-day @leaveType  @Model.CssMonthBorder(i)"></td>                            
                        }
                    }

                </tr>
            }
        </tbody>
    </table>

</div>*@
